<header class="dashboard-header">
    <div class="container">
        <div class="sixteen columns">
            <div id="logo">
                <h1><a href="javascript:void(0)" routerLink="/"><img src="assets/images/logo.png"
                            alt="Work Scout" /></a></h1>
            </div>
            <nav id="navigation" class="menu">
                <ul class="responsive float-right">
                    <li><a href="javascript:void(0)" class="sf-with-ul"><i class="fa fa-globe"></i></a>
                        <ul>
                            <li><a href="javascript:void(0)">French</a></li>
                            <li><a href="javascript:void(0)">Dutch</a></li>

                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" routerLink="/register"><i class="fa fa-user"></i> Sign Up</a></li>
                    <li><a href="javascript:void(0)" routerLink="/login"><i class="fa fa-lock"></i> Log In</a></li>
                </ul>
            </nav>
            <div id="mobile-navigation">
                <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i></a>
            </div>
        </div>
    </div>
</header>

<div id="dashboard" style="background: url('/assets/images/banner-01.jpg') no-repeat;background-position: center;">

    <div class="search-container">
        <div class="row" style="text-align:center;">

            <!-- Item -->
            <div class="col-lg-1 col-md-12">
                <!-- Form -->

            </div>
            <div class="col-lg-2 col-md-12">
                <!-- Form -->
                <h2 style="color:black;">5862</h2>
                <span> Jobs Posted </span>
            </div>
            <div class="col-lg-2 col-md-12">
                <!-- Form -->
                <h2 style="color:black;">240</h2>
                <span> Companies </span>
            </div>
        </div>

    </div>
</div>
<div class="container">

    <!-- Form -->
    <div class="row">


        <div class="col-md-4"> <select style="background-color:#26ae61;color:white;padding: 14px 18px;" class="ico-01">
                <option value="volvo">Category</option>
            </select>
        </div>
        <div class="col-md-3"> <select style="background-color:#26ae61;color:white;padding: 14px 18px;" class="ico-01">
                <option value="volvo">Location</option>
            </select>
        </div>
        <div class="col-md-3"> <select style="background-color:#26ae61;color:white;padding: 14px 18px;" class="ico-01">
                <option value="volvo">Profile</option>
                <option value="volvo">Request</option>
            </select>
        </div>
        <div class="col-md-2"> <button><i class="fa fa-search"></i> Search</button>
        </div>
    </div>

    <div class="row">

        <!-- Item -->

        <div class="col-lg-6 col-md-12">
            <div class="dashboard-stat color-1" style="height:180px;">
                <div style="padding:5px;">
                    <h4 style="color:white;font-weight:800;text-align:center;margin-bottom:10px;">WHY JOW?</h4>
                    <span>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula
                        nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue
                        dapibus facilisis. Vivamus tincidunt orci est, in vehicula nisi eleifend ut. Vestibulum
                        sagittis varius orci vitae.</span>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col-lg-6 col-md-12">
            <div class="dashboard-stat color-2" style="height:180px;">
                <div style="padding:5px;">
                    <h4 style="color:white;font-weight:800;text-align:center;margin-bottom:10px;">OUR VALUES
                    </h4> <span>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum
                        ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis
                        augue dapibus facilisis. Vivamus tincidunt orci est, in vehicula nisi eleifend ut.
                        Vestibulum sagittis varius orci vitae.</span>
                </div>

            </div>
        </div>

        <div class="col-lg-5 col-md-12">
            <div class="sixteen columns center">
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="sixteen columns center">

                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                    <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="sixteen columns center">
            </div>
        </div>


    </div>
</div>
<div class="container">

</div>