<header class="dashboard-header">
    <div class="container">
        <div class="sixteen columns">
            <div id="logo">
                <h1><a href="javascript:void(0)" routerLink="/"><img src="assets/images/logo.png" alt="Work Scout" /></a></h1>
            </div>
            <nav id="navigation" class="menu">
            <ul class="responsive float-right">
                <li><a href="javascript:void(0)" class="sf-with-ul"><i class="fa fa-globe"></i></a>
                        <ul>
                        <li><a href="javascript:void(0)">French</a></li>
                            <li><a href="javascript:void(0)">Dutch</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" routerLink="/register"><i class="fa fa-user"></i> Sign Up</a></li>
                    <li><a href="javascript:void(0)" routerLink="/login"><i class="fa fa-lock"></i> Log In</a></li>
                </ul>
            </nav>
            <div id="mobile-navigation">
                <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i></a>
            </div>
        </div>
    </div>
</header>

<div id="dashboard" style="background-image: url('assets/images/banner-01.jpg');">
    <div class="container" style="margin-top:10%;">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="dashboard-stat color-1">
                    <div>
                        <h4 style="color:white;font-weight:800;text-align:center">WHY JOW?</h4> <span>Nam nisl lacus,
                            dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada
                            vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis. Vivamus
                            tincidunt orci est, in vehicula nisi eleifend ut. Vestibulum sagittis varius orci
                            vitae.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="dashboard-stat color-2">
                    <div>
                        <h4 style="color:white;font-weight:800;text-align:center">OUR VALUES</h4> <span>Nam nisl lacus,
                            dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada
                            vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis. Vivamus
                            tincidunt orci est, in vehicula nisi eleifend ut. Vestibulum sagittis varius orci
                            vitae.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="sixteen columns center">
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sixteen columns center">

                    <ul class="social-icons">
                        <li><a class="facebook" href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
                        <li><a class="instagram" href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                        <li><a class="linkedin" href="javascript:void(0)"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="sixteen columns center">
                </div>
            </div>
        </div>
    </div>
</div>