<app-header></app-header>

<div id="dashboard">
    <div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <nav id="navigation" class="menu">
                    <ul id="responsive">
                        <li><a href="javascript:void(0)" routerLink="/dashboard"
                                [routerLinkActiveOptions]="{exact:true}"
                                routerLinkActive="dashboard_tab_active">Home</a></li>
                        <li><a href="javascript:void(0)" routerLink="/messages" [routerLinkActiveOptions]="{exact:true}"
                                routerLinkActive="dashboard_tab_active">Messages</a></li>
                        <li><a href="javascript:void(0)" routerLink="/add" [routerLinkActiveOptions]="{exact:true}"
                                routerLinkActive="dashboard_tab_active">{{userType === 'ask-skill' ? 'Add Request' : 'Add Profile'}}
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="dashboard-stat color-1">
                    <a href="javascript:void(0)" routerLink="/messages" style="color:white;">
                        <div class="dashboard-stat-content">
                            <h4 class="counter">3</h4> <span>Messages</span>
                        </div>
                        <div class="dashboard-stat-icon"><i class="fa fa-envelope"></i></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="dashboard-stat color-2">
                    <a href="javascript:void(0)" routerLink="/my-matches" style="color:white;">
                        <div class="dashboard-stat-content">
                            <h4 class="counter">17</h4> <span>Matches</span>
                        </div>
                        <div class="dashboard-stat-icon"><i class="fa fa-eye"></i></div>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="userType === 'ask-skill'" class="row">
            <div class="col-lg-3 col-md-12">
                <div class="dashboard-list-box margin-top-0">
                    <div class="dashboard-list-box-static">
                        <div class="my-profile">
                            <button class="button margin-top-15"><i class="fa fa-user"></i>925 Users Online</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="dashboard-list-box margin-top-0">
                    <h4 class="gray">Complete my Request</h4>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="dashboard-list-box margin-top-0">
                    <div class="dashboard-list-box-static">
                        <div class="my-profile">
                            <div class="row">
                                <div class="col-md-3"><label>Job</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                                <div class="col-md-3"><label>Salary</label></div>
                                <div class="col-md-3"> <select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>Experience</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select>
                                </div>
                                <div class="col-md-3"><label>License to Drive</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>Type of Contract</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                                <div class="col-md-3"><label>Language</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>Location</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                                <div class="col-md-1"><label>Free</label></div>
                                <div class="col-md-5"> <textarea name="notes" id="notes" cols="30"
                                        rows="10">Text</textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-list-box-static">
                        <div class="row">
                            <div class="col-md-4"><button class="button margin-top-15">Save my Request</button></div>
                            <div class="col-md-4"><button class="button margin-top-15">Update my Request </button></div>
                            <div class="col-md-4"><button class="button margin-top-15">Delete my Request </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="userType != 'ask-skill'" class="row">
            <div class="col-lg-3 col-md-12">
                <div class="dashboard-list-box margin-top-0">
                    <div class="dashboard-list-box-static">
                        <div class="my-profile">
                            <button class="button margin-top-15"><i class="fa fa-user"></i>925 Users
                                Online</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="dashboard-list-box margin-top-0">
                    <h4 class="gray">Complete my Profile</h4>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="dashboard-list-box margin-top-0">
                    <div class="dashboard-list-box-static">
                        <div class="my-profile">
                            <div class="row">
                                <div class="col-md-3"><label>Job</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                                <div class="col-md-3"><label>Salary</label></div>
                                <div class="col-md-3"> <select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>Experience</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select>
                                </div>
                                <div class="col-md-3"><label>License to Drive</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>Type of Contract</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>

                                <div class="col-md-3"><label>Language</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label>Location</label></div>
                                <div class="col-md-3"><select style="padding: 14px 18px;">
                                        <option value="city">Select</option>
                                    </select></div>
                                <div class="col-md-1"><label>Free</label></div>
                                <div class="col-md-5"> <textarea name="notes" id="notes" cols="30"
                                        rows="10">Text</textarea></div>

                            </div>
                        </div>
                    </div>
                    <div class="dashboard-list-box-static">
                        <div class="row">
                            <div class="col-md-4"><button class="button margin-top-15">Save my Profile</button>
                            </div>
                            <div class="col-md-4"><button class="button margin-top-15">Update my Profile
                                </button></div>
                            <div class="col-md-4"><button class="button margin-top-15">Delete my Profile
                                </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>