<div *ngIf="userType === 'Employer'" class="row">
    <div class="col-lg-3 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <div class="dashboard-list-box-static">
                <div class="my-profile">
                    <button class="button margin-top-15"><i class="fa fa-user"></i>925 Users Online</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <h4 class="gray">Complete my Request</h4>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <app-profile-request></app-profile-request>
        </div>
    </div>
</div>
<div *ngIf="userType != 'Employer'" class="row">
    <div class="col-lg-3 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <div class="dashboard-list-box-static">
                <div class="my-profile">
                    <button class="button margin-top-15"><i class="fa fa-user"></i>925 Users
                        Online</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <h4 class="gray">Complete my Profile</h4>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <app-profile-request></app-profile-request>
        </div>
    </div>
</div>