<div class="col-lg-8 col-md-12 margin-bottom-10">
    <div class="dashboard-list-box with-icons ">
        <div class="row">
            <div class="col-md-5 " style="margin-left:30px;">
                <h3>{{appModel.type === 'Employer' ? 'Profile ' : 'Request '}}{{index + 1}}</h3>
            </div>
            <div class="col-md-12">
                <p style="margin-left:30px;">{{description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <!-- <div class="col-md-1">
                <a href="javascript:void(0)" class="button centered">
                    <i class="fa fa-envelope"></i>
                </a>
            </div> -->
            <div class="col-md-6"><input type="text" class="ico-01" placeholder="Textbox" value="" /></div>
            <div class="col-md-2"><a href="javascript:void(0)" class="button centered">Contact</a></div>
        </div>
    </div>
</div>
<!-- <div *ngIf="userType === 'Employer'" class="col-lg-8 col-md-12 margin-bottom-10">
    <div class="dashboard-list-box with-icons ">
        <div class="row">
            <div class="col-md-5" style="margin-left:30px;">
                <h3>Request 1</h3>
            </div>
            <div class="col-md-6 " style="text-align:right">
                <h3>Sales / 1 Year / CDD</h3>
            </div>
            <div class="col-md-12">
                <p style="margin-left:30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6"><input type="text" class="ico-01" placeholder="Textbox" value="" /></div>
            <div class="col-md-2"><a href="my_profile.html" class="button centered">Contact</a></div>


        </div>

    </div>
</div> -->