/* You can add global styles to this file, and also import other style files */
.sf-with-ul{
    &:hover{
        &:after{
            color: #fff;
        }
    }
}

input[type="submit"]{
    &.disabled{
        opacity: 0.7;
        cursor: default;

        &:hover{
            background-color: #26ae61;
        }
    }
}

.form-row {
    position: relative;
    label.error{
        position: absolute;
        font-size: 11px;
        top: 75px;
        color: red;
    }
}

.dashboard_tab_active{
    background-color: #26ae61;
    color: #fff !important;
}