<app-header></app-header>

<div id="dashboard">
    <div class="dashboard-content">
        <div class="row">
            <div class="col-md-12">
                <nav id="navigation" class="menu">
                    <ul id="responsive float-right">
                        <li><a href="javascript:void(0)" routerLink="/dashboard" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dashboard_tab_active">Home</a></li>
                        <li><a href="javascript:void(0)" routerLink="/messages" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dashboard_tab_active">Messages (20)</a></li>
                        <li><a href="javascript:void(0)" routerLink="/add" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dashboard_tab_active">{{userType === 'Employer' ? 'Add Request' : 'Add Profile'}} </a></li>
                        <li><a href="javascript:void(0)" routerLink="/my-matches" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dashboard_tab_active">Matches (20)</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 margin-bottom-10">
                <div class="dashboard-list-box margin-top-0">
                    <div class="dashboard-list-box-static">
                        <div class="my-profile">
                            <button class="button margin-top-15"><i class="fa fa-eye"></i>52 Views</button>
                            <button class="button margin-top-15"><i class="fa fa-user"></i>925 Users Online</button>
                            <label class="margin-top-20">{{userType === 'Employer' ? 'My requests' : 'Complete my Profile'}}</label>
                            <select *ngIf="userType === 'Employer'" style="padding: 14px 18px;" [(ngModel)]="selectedItem" (change)="showRequestItemPage()">
                                <option *ngFor="let id of profileIds;let i = index" value="{{id}}">{{userType === 'Employer' ? 'Request' : 'Profile'}} {{i + 1}}</option>
                            </select>
                            <select *ngIf="userType != 'Employer'" style="padding: 14px 18px;" [(ngModel)]="selectedItem" (change)="showProfileItemPage()">
                              <option *ngFor="let id of profileIds;let i = index" value="{{id}}">{{userType === 'Employer' ? 'Request' : 'Profile'}} {{i + 1}}</option>
							              </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12" *ngIf="page === 'dashboard'">
                <div class="dashboard-list-box">
                    <h4>Make yourself known Complete your {{userType === 'Employer' ? 'request!' : 'profile!'}}</h4>
                </div>
            </div>
            <div class="col-lg-5 col-md-12" *ngIf="page === 'dashboard'">
                <div class="dashboard-list-box with-icons ">
                    <h4>Maximize your chances to match</h4>
                    <ul class="dashboard-packages">
                        <li>
                          <a *ngIf="userType === 'Employer'" href="javascript:void(0)" class="button centered" routerLink="/add"><i class="fa fa-pencil"></i> Complete
                            your Request</a>
                        <a *ngIf="userType !== 'Employer'" href="javascript:void(0)" class="button centered" routerLink="/add"><i class="fa fa-pencil"></i> Complete
                            your Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-12" *ngIf="page === 'profile'">
              <div class="dashboard-list-box margin-top-0">
                 <app-profile-request [type] = "type" [data] = "data" [currentId] = "currentId" [version] = "appModel.version"></app-profile-request>
              </div>
        </div>
        </div>
    </div>
</div>
